.app-sidenav {
    width: 200px;
  }
  
  .content-container {
    padding: 20px;
  }
  
  .active {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  mat-sidenav-container {
    height: calc(100vh - 64px);
  }